html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
}

.main-header {
    background-color: #ff7043;
    padding: 20px 0;
    text-align: center;
}

.title {
    margin: 0;
    font-size: 3em;
    color: white;
}

#card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.card {
    width: 300px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
    overflow: hidden;
}

.card-content {
    padding: 20px;
    color: #444;
}

.card-content h2 {
    margin-top: 0;
    font-size: 1.5em;
    color: #333;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}

.footer {
    background-color: #ff7043;
    padding: 10px;
    text-align: center;
}

button {
    background-color: #ff5722;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-size: 1em;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff7043;
}